.container {
    margin-inline: auto;
    border: solid 2px yellow;
    background-color: white;
    margin-top: 15%;
    padding-bottom: 2.5rem;
    width: 25%;
}

.container__heading {
    text-align: center;
    padding: 1rem 0.4rem;
}

.container__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0.5rem;
}

.container__form__input {
    padding: 0.3rem;
}
