* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00162A;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

.container {
    width: 25%;
    margin: auto;
    border: solid 2px red;
    background-color: white;
    margin-top: 20%;
    padding-bottom: 2.5rem;
}

.container__heading {
    text-align: center;
    padding: 1rem 0.4rem;
}

.container__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0.5rem;
}

.container__form__input {
    padding: 0.3rem;
}
