.container-wrapper {
    display: flex;
    height: 100%;
    background-color: #00162A;
    align-items: center;
    justify-content: center;
}

.container-login {
    background-color: white;
    padding: 1rem 1.5rem 3rem 1.5rem;
    min-width: 300px;
    width: 25%;
    border-radius: 25px;
}

.container-login__heading {
    text-align: center;
    padding: 1rem 0.4rem;
}

.container-login__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.container-login__form__input {
    padding: 0.3rem;
}
